
<%= form_for :alc, :url => {:action => 'rt_alc', :id => @emp_id} do |f| %>
    <%= f.hidden_field :start_date, :value => Time.now.strftime("%d-%b-%Y")%>
    <%= f.hidden_field :end_date, :value => Time.now.strftime("%d-%b-%Y")%>
    <%= f.hidden_field :request_date, :value => Time.now.strftime("%d-%b-%Y")%>
    <%= f.hidden_field :admin_comments, :value => "Annual Credit"%>
<div class="actions">
    <%= f.submit 'Credit Leave', :class => 'alc_btn', :confirm => 'Are you sure to credit annual leaves?'  %>

</div>
<% end %>


